.mother {
  display: flex;
  height: 100vh;
  /* flex-direction: column; */
  justify-content: space-between;
}

.mom {
  display: flex;
}

.children {
  background-color: blueviolet;
  width: 100px;
  height: 100px;
}

.mr-5 {
  margin-right: 5px;
}
